.pointer{
    cursor:pointer;
}

.img-container{
   background-color: white;
   z-index: 1;
   border: 1px solid red;
}

.messi{
   display: flex;
   overflow-y: scroll;
   flex-wrap: wrap;
   border:1px solid red;
}

.tamano{
   max-width: 33%;

}
