.pointer {
   cursor: pointer;
}

.img-container {
   display: flex;
   flex-wrap: wrap;
}

.tamano {
   max-width: 30%;
   margin: 8px;
}

.tamano img {
   max-width: 100%;
}

.messi {
   overflow-y: scroll;
}